@import "../../../globals.scss";

.Banner {
  padding: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: rgb(239, 104, 147);
  gap: 2rem;

  img {
    height: 3rem;
  }

  &__seperator {
    height: 100%;
    opacity: 0.3;
    background-color: #FDD2DC;
    width: 0.13rem;
  }

  &__title {
    font-family: "Lucida Handwriting", cursive;
    color: #f8dde4;
    font-size: 1.6rem;
  }
}
