body{background-color: rgb(255, 240, 248)}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #e6c9ff;
    }
}


#right {
    float: right;
    margin: 10px;
    border: 10px solid #f8739ff6;
}

#left {
    float: left;
    margin: 10px;
    border: 10px solid #f8739ff6;
}